.inputContainer {
  font-weight: 500;
  display: flex;
  gap: 12px;
  align-items: center;
  width: max-content;
}

.input {
  padding: 10px;
  min-width: 140px;
  border: 1px solid var(--color-light-secondary);
  border-radius: 10px;
  background-color: var(--color-light);
  font-size: 16px;
  color: rgba(47, 47, 47, 0.87);

  &:focus {
    border-color: rgba(81, 159, 3, 1);
    outline: none;
    box-shadow: rgba(0, 123, 255, 0.2) 0px 0px 5px;
  }
}

.disableCaret {
  caret-color: transparent;
}
