:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(47, 47, 47, 0.87);

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* vars */
  --color-dark: rgb(0, 0, 0);
  --color-dark-secondary: rgb(144, 144, 144);
  --color-light: rgb(255, 255, 255);
  --color-light-secondary: rgb(230, 230, 230);
  --color-accept: rgb(81, 159, 3);
  --color-decline: rgb(159, 41, 3);
}

p,
h1,
h2 {
  margin: 0;
}

button {
  font-size: 1em;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #dedede;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
